<div class="container jumbotron">
  <div class="row">
    <div class="col-md-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Two Factor Settings</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <%= form_tag(two_factor_settings_path, method: :delete, class: "form-horizontal form-label-left") do |f| %>
            <button type="submit" class="btn btn-info btn-enable-two-factor"><%= t ".btn_disable_two_factor_setting" %></button>
          <% end %>
          <hr />
          <div class="col-md-3 col-sm-3 col-xs-12">
            <h2><%= t ".generate_new_backup_code" %></h2>
            <p>
              <%= t ".generate_new_backup_code_warning" %>
            </p>
            <a href="<%= generate_backup_code_two_factor_settings_path%>" class="btn btn-default">
              <%= t ".generate_new_backup_code" %>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
