<!DOCTYPE html>
<html>
  <head>
    <title>DemoGoogleAuthenticator</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <% unless value.is_a? Hash%>
        <div class="alert alert-<%= key == "success" ? "info" : "danger"%>">
          <span class="close" data-dismiss="alert" aria-label="close">&times;</span>
          <%= value %>
        </div>
      <% end %>
    <% end %>
    <div class="container jumbotron">
      <a href="<%= root_path %>">Home Page</a>
    </div>
    <%= yield %>
  </body>
</html>
